<footer class="main-footer">
    <div class="pull-right hidden-xs">
      {{ translate("BUILT_WITH_UF") | raw }}
      {% block footer_content %}{% include "content/footer-nav.html.twig" %}{% endblock %}
    </div>
    &copy; <a href="{{ urlFor('index', [], [], '/') }}">{{site.title}}</a>, {{ "now"|date("Y") }}. <span class="hidden-xs">{{ translate("ADMINLTE_THEME_BY") | raw }}.</span>
</footer>